
.main-div {
  text-align: left;
}
.form-div {
  text-align: center;
}
label {
  font-weight: bold;
  display: inline-block;
  width: 80px;
  text-align: left;
}
input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
table {
  margin:  0 auto;
  width: 90%
}

tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th {
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #282c34;
  color: white;
}
td {
  text-align: left;
}
.button {
  margin: 10px 70px;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.button-new {
  background-color: #00802b;
}
.button-new:hover{
  background-color: #009933;
}

.button-edit {
  background-color: #cc7a00;
}
.button-edit:hover {
  background-color: #ff9900;
}

.button-delete {
  background-color: #cc0000;
}
.button-delete:hover {
  background-color: #ff1a1a;
}
